@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family:'Rubik',sans-serif;
    --paleViolet:hsl(276, 100%, 81%);
    --desatDarkViolet: hsl(271, 15%, 43%);
    --grayishBlue: hsl(206, 6%, 79%);
    --veryDarkDesatViolet:hsl(271, 36%, 24%);
    --darkGrayishViolet:hsl(270, 7%, 64%);
    --moderateViolet: hsl(276, 55%, 52%);
    /* gradients */
    --lightMagenta: hsl(293, 100%, 63%);
    --lightViolet: hsl(264, 100%, 61%);

    /* secondary */

    --white:hsl(0, 0%, 100%);
    --lightGrayishViolet: hsl(270, 20%, 96%);
    --veryDarkDesatViolet: hsl(271, 36%, 24%);
    --VeryLightMagenta: hsl(289, 100%, 72%);
}

body{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.container{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    position:relative;
    background: var(--lightGrayishViolet);
}
.background{
    width:50%;
    height:55%;
    background:var(--lightViolet);
    position:absolute;
    top:0;
    left:0;
    border-radius: 0 0 200px 0;
    z-index:1
}
.texto{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.heading {
    margin:4rem 0 2rem 0;
    font-size: 2rem;
    letter-spacing: 2.5px;
    color:var(--veryDarkDesatViolet);
}

.paragraph{ 
    width:80%;
    color: var(--darkGrayishViolet);
    margin-bottom: 1rem;
    text-align: center;
    line-height: 2;
}

.telemovel{
    width:60%;
    height:450px;
    margin-top: 4rem;
    background: var(--lightGrayishViolet);
    border-radius: 25px;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
    overflow:hidden;
    box-shadow: 0 0 0 10px var(--white),0 0 0 10.5px var(--lightGrayishViolet), 20px 10px 50px -20px var(--veryDarkDesatViolet);
    position:relative;
    z-index:2;
}
.top{
    width:100%;
    height:65px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right,var(--lightViolet),var(--lightMagenta));
    align-items:center;
    justify-content: space-between; 
    border-radius: 0 0 5px 5px;
}
.arrow-left{
    width:10px;
    height:10px;
    filter:invert(1);
    margin: 10px 0 0 10px;

}
.avatar{
    display:flex;
     align-items: center;
     justify-content: flex-start; 
     width: 170px; 
}
.avatar h4{
    font-size: 0.7rem;
    margin-top: 10px;
    color: var(--paleViolet);
    font-weight: 600;
}
.avatar p{
    font-size: .4rem;
    color: var(--paleViolet);
}
.avatar img{
    width:20px;
    height:20px;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 0 0 0 1px white;
    margin: 10px 10px 0 0;
}
.white-board{
    width:50%;
    height:20px;
    border-radius: 25px;
    background-color: var(--white);
    position:absolute;
    top:-5px;
    
}
.more{
    width:10px;
    height:10px;
    filter:invert(1);
    transform: rotate(90deg);
    margin: 10px 10px 0 0;
}
.middle{
    height: inherit;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.chart-left{
    width:55%;
    background-color: var(--grayishBlue);
    margin:10px;
    padding:5px 8px ;
    border-radius: 10px 10px 10px 0;
    color:var(--moderateViolet);

}
.chart-left>p{
    font-size: .5rem;
    
}
.price-left{
    width:70%;
    background:linear-gradient(to right,var(--lightViolet),var(--lightMagenta));;
    padding:5px 8px;
    border-radius: 10px 10px 10px 0;
    color:var(--moderateViolet);
    margin: 10px 0 0 10px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.price-left > p{
    font-size: .5rem;
    color: var(--paleViolet);
    margin-right: 0px;
    text-align: left;
    padding: 0px 0px 0 5px;
    width: 45%;
}
.price-left > p span{
    font-size: .7rem;
    float: right;
    color:white;
}
.price-left img{
    width:15px;
    height:15px;
    border-radius: 50%;
}
.chart-right > p{
    font-size: .5rem;
}

.img-right{
    width:40px;
    height:40px;
    display:flex;
    margin:0 auto; 
}
.img-right img{
    margin: 0.2rem;
    border-radius: 10px;
}

.chart-right{
    width:50%;
    background-color: var(--white);
    padding:5px 8px ;
    border-radius: 10px 10px 0 10px;
    color:var(--desatDarkViolet);
    margin: 5px 15px 5px auto;
}

#second {
    width:38%;
    padding:5px 8px ;
} 

.search{
    width:100%;
    position:relative;
    margin-bottom: .6rem;
    
}
.search input{
    width:90%;
    height: 30px;
    border-radius:50px;
    border:none;
    outline:none;
    margin-left: 10px;
}
.search img{
    width:20px;
    height:20px;
    background:var(--veryDarkDesatViolet);
    border-radius:50%;
    background-color:white;
    position: absolute;
    right:20px;
    bottom:5px;
}
.search input::placeholder{
    color:var(--grayishBlue);
    font-size: .6rem;
    text-indent: 20px;
}
.right-div{
    display:none;
}

.attribution a { color: hsl(228, 45%, 44%); }
.attribution { font-size: 11px; text-align: center; }

@media(min-width: 1440px){
   body{
       width:100%;
       height:100vh;
   }
    .background{  
        width: 35%;
        height: 80%;
        border-radius: 0 0 250px 250px;
        position: absolute;
        left: -90px;
        z-index:1;
        background: var(--moderateViolet);
    }
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }
    .telemovel{
        width:215px;
        height:480px;
        position: absolute;
        top:0%;
        left:25%;
        z-index:2;
    }
    .top{
        height:80px;
    }
    .middle{
        margin:0;
    }
    .chart-left{
        margin: 10px 0 0 10px;
    }
    .img-right,.chart-right{
        margin-top: 10px;
    }
    .texto{
        width:44%;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position:absolute;
        top:18%;
        right:7%;
        z-index: 2;
    }
    .texto h1{
        font-size: 2.5rem;
        text-align: left;
        margin-right: 210px;
        letter-spacing: 1px;
    }
    .texto .paragraph{
        text-align:left;
        margin-right: 5px;
        line-height: 1.8;
    }
    .right-div{
        display:flex;
        width:35%;
        height:80%;
        border-radius:250px 250px 0 0 ;
        position:absolute;
        right:-10%;
        bottom:0;
        background: linear-gradient(145deg,var(--grayishBlue),var(--lightViolet),var(--paleViolet));
        filter: opacity(.05);
        z-index: 1;
    }
    .attribution{
        position:absolute;
        bottom:0;
        left:50%;
        transform:translateX(-50%)
    }
}